@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgba(50, 50, 50, 0.8);
}
/*Try apply liquid layout here  (from pg.??)*/
body {
    max-width: 960px;
    margin-inline: auto;
    text-align: left;
    overflow:auto;
}
/* *{
    border: 1px solid red;
} */
p {
    font-size: 90%;
}
td:hover{
    color: rgba(0, 0, 0, 1);
    /*  background-color: yellow; */
}
th, td {
    margin: 5px 5px 5px 5px;
    vertical-align: text-top;
}
.header {
    margin-top: 30px;
    text-align: right;
}
.intro {
    margin-top: 50px;
    margin-bottom: 80px;
}
.container {
}
.cv-category {
    width: 5%;
    font-weight: bold;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    vertical-align: bottom;
    text-align:right;
}
.verticalLine {
    border-left: thin solid;
    color: rgba(0, 0, 0, 0.6);
}
.job-title{
    width: 70%;
    font-weight: bold;
}
.job-details{
    width: 25%;
    font-style: italic;
    padding: 0px 10px 0px 10px;
}
.job-description{
    font-style: italic;
    padding: 10px;
    text-align: justify;
}
.icon-button, .language-selection {
    border-radius: 5px;
    background-color: transparent;
    border: none;
}
.icon-button:hover, .language-selection:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
#email {
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 4px; 
    height:140%;
    min-width: 250px;
}
#id {
    color: red;
    font-style: italic;
}